<div class="create_topic">
  <h4 class="create_topic--titulo">Compartilhe suas ideias ou dúvidas com os autores!</h4>
<ul class="create_topic--lista-de-imagens">
  <li class="create_topic--lista-de-imagens--imagem"><img src="../../../assets/icone1.png"></li>
  <li class="create_topic--lista-de-imagens--imagem"><img src="../../../assets/icone2.png"></li>
  <li class="create_topic--lista-de-imagens--imagem"><img src="../../../assets/icone3.png"></li>
</ul>
<p class="create_topic--p">Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos ou sugestões para o autor!</p>
<button class="btn create_topic--btn btn-create-topic">
  <img class="btn create_topic--btn--img" src="../../../assets/icon - criar.png">
  <p class="create_topic--btn--p">criar tópico</p>
</button>
</div>
