<aside class="sideBar">
  <div class="shadowSide">
    <h2 class="sideBar_top">SLACA 2019</h2>
  <div>
    <img class="menu_item--logo" src="../assets/logo.png" alt="">
    <ul class="menu">
      <li class="menu__item"><a  class="menu__item--link">Apresentação</a>  </li>
      <li class="menu__item"><a  class="menu__item--link">Comitês</a>  </li>
      <li class="menu__item"><a  class="menu__item--link">Autores</a>  </li>
      <li class="menu__item"><a  class="menu__item--link">Eixos temáticos</a>  </li>
      <li class="menu__item menu__item--ativado"><a  class="menu__item--link">Trabalhos</a>  </li>
      <li class="menu__item"><a  class="menu__item--link">Contato</a>  </li>
    </ul>
  </div>
  </div>
</aside>
