<section class="corpo">
  <div class="apresentacao">
    <h2 class="apresentacao__titulo">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
    <img class="apresentacao__img" src="../../../assets/vídeo apresentação.png" alt="">
  </div>

  <div class="corpo__aside">
    <div class="corpo__aside--nav">
      <a class="corpo__aside--nav--btn"><img src="../../../assets/download.png"> Download</a>
      <a class="corpo__aside--nav--btn"><img src="../../../assets/favoritar.png"></a>
      <a class="corpo__aside--nav--btn"><img src="../../../assets/doi.png"></a>
    </div>
    <p class="corpo__aside--descricao">COMO CITAR ESSE TRABALHO?</p>
    <div class="detalhes">
      <h3 class="detalhes__titulo">Detalhes</h3>
      <div class="detalhes__texto">
        Tipo de Apresentação: <b>Pôster</b><br>
        Eixo temático: <b>Alimentação e saúde (AS)</b><br>
        Palavras-chaves: <b>Alimentos funcionais, alimentação escolar.</b><br>
        <div class="detalhes__texto--autores">
          <b>Autores:</b> <br>
          Galileo Galilei¹<br>
          Berta Lange de Morretes²<br>
          Isaac Newton³<br>
          Cesar Lattes¹<br>
          Stephen Hawking⁴<br>
        </div>
        <ul class="detalhes__texto--lista">
          <li>¹Universidade Estadual de Campinas</li>
          <li>²Universidade de São Paulo</li>
          <li>³Instituto Nacional de Pesquisas Espaciais</li>
          <li>⁴Universidade Federal do Rio de Janeiro</li>
        </ul>
      </div>
  </div>
  </div>
</section>

